body {
  width:960px;
  border-width:5px;
  border-style:solid;
  border-color:#144a74;
  border-radius: 5px;
  background-color:#93b5cf;
}
h1 {
  color:#381924;
  font-size:60px;
}
img.1 {
  position:fixed;
  top:10px;
  right:5px;
}
table {
  color:#381924;
  width:500px;
  border-width:2px;
  border-style:solid;
  border-color:#144a74;
  border-radius: 2px;
}
