body {background-color:grey;
  width:1000px;
  margin-left:auto;
  maigin-right:auto;
  border-width:5px;
  border-style:solid;
  border-color:purple;
  border-radius: 5px;
}
h1 {color:blue;
  font-size:60px;
}
p {color:green;
  font-size:35px;
  
}
