body {
  width:1200px;
  margin:auto;
  border-width:4px;
  border-style:solid;
  border-color:#144a74;
  border-radius:4px;
  background-color:#baccd9;
}
h2 {
  color:#101f30;
}

table {
  color:#381924;
  width:500px;
}
a:link {
  color:#45b787;
  text-decoration:none;
}
a:visited {
  color:#45b787;
  text-decoration:none;
    }
a:hover {
  color:#fecc11;
  text-decoration:underline;
}
a:active {
  color:#381924;
  text-decoration:underline;
    }
#bain, #center, #content, #header, #footer {
  border-width:2px;
  border-style:solid;
  border-color:#144a74;
  border-radius:2px;
  margin: 5px;
}
#center {
 display: table;
}
#bain, #content {
 display: table-cell;
}
#bain {
 width: 250px;
 padding-top:50px;
}
#content {
  padding-top:10px;
  padding-left:30px;
}
#int {
  padding-left:70px;
}
#end {
  margin:auto;
}
